.App {
  background-color: #fff;
  max-width: 992px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #666;
  box-shadow: 0 0 10px #666;
  background-color: rgb(35, 9, 95);
  padding: 20px;
}

.logo-link {
  color: #fff;
  text-decoration: none;
}

.nav-menu li {
  display: inline-block;
  list-style: none;
}

.link-active {
  display: inline-block;
  margin: 5px;
  border: 1px solid rgb(156, 151, 151);
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 16px;
  background-color: rgb(255, 255, 255);
  transition: all ease 0.30s;
}

.link-active:hover {
  border: 1px solid #222;
  background-color: rgb(129, 112, 112);
  transition: all ease 0.30s;
  cursor: pointer;
}

.link-active.activate {
  border: 1px solid #eee;
  background-color: rgb(41, 37, 37);
  transition: all ease 0.30s;
  cursor: pointer;
  color: #fff;
}