.main-content {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.main-content h2 {
  text-align: center;
  margin: 20px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-image {
  width: 100%;
  height: 500px;
  background-image: url('https://img.promipool.com/www-promipool-de/image/upload/c_fill,g_faces,h_357,w_634,q_auto:eco,f_jpg/oscars_2019_190225_g0irdoda3e');
  background-size: cover;
  margin-bottom: 50px;
  transition: all ease-in-out 0.3s;
  border-radius: 6px;
}

.home-image:hover {
  background-image: url('https://audienciadatv.net/wp-content/uploads/2019/02/Oscar-2019-Vencedores-830x450.jpg');
  cursor: pointer;
  transform: scale(1.05);
  transition: all ease-in-out 0.3s;
}

.thumbnail-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  width: 100%;
}

.home-thumbnail-1,
.home-thumbnail-2,
.home-thumbnail-3 {
  background-size: cover;
  width: 270px;
  height: 170px;
  transition: all ease-in-out 0.3s;
  border-radius: 6px;
}

.home-thumbnail-1:hover,
.home-thumbnail-2:hover,
.home-thumbnail-3:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all ease-in-out 0.3s;
}

.home-thumbnail-1 {
  background-image: url('https://arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/KF4BGPUIOBQO6JB33FSCZG4CT4.jpg');
}

.home-thumbnail-2 {
  background-image: url('https://cinemaeafins.com/wp-content/uploads/sites/3/2019/03/Os-pr%C3%B3ximos-filmes-dos-ganhadores-do-Oscar-2019.jpg');
}

.home-thumbnail-3 {
  background-image: url('https://cdn-ofuxico.akamaized.net/img/galeria_thumb/12338/pg_opr190224_158_400337_194221-998x700.jpg');
}

/* actors */
.main-content {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.actor-container {
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px 15px rgb(126, 121, 121);
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.actor-container:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.actor-container h3 {
  padding: 20px;
}

.actor-image {
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 6px 6px 0px 0px;
  transition: all 0.3s ease-in-out;
}

.back {
  display: inline-block;
  margin: 10px 10px 10px 0;
  border: 1px solid #eee;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: rgba(149, 216, 238, 1);
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease-in-out;
}

.back:hover {
  border: 1px solid #eee;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.image-profile {
  width: 100%;
  height: 500px;
  background-size: cover ;
  border-radius: 6px;
}